* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
}

.box,
.box2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  gap: 15px;
  & li {
    list-style: none;
  }
}

.box2 i {
  font-size: max(1.5vw, 25px);
  color: white;
}

.imagem-fundo {
  width: 100%;
  height: max(10vw, 100px);
  background-image: url(../images/fundo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: max(20vw, 200px);
  }
}

.navbar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  overflow: hidden;
  background-color: #2c4097;
  font-family: "Lobster Two", cursive;
  font-family: "Rubik", sans-serif;
}

.cursos {
  gap: 15px;
  width: 50%;
  background-color: #2c4097;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.cursos > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar > a:hover,
.dropdown:hover > .dropbtn {
  background-color: #2011a2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6055c2d0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #2011a2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* footer */
footer {
  color: white;
  font-family: "Lobster Two", cursive;
  font-family: "Rubik", sans-serif;
  background: #2c4097;
  padding-top: 20px;
  height: 50%;
}

footer .container > p + li + h3 {
  color: white;
}

footer > .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer .container ul {
  list-style-type: none;
}

footer > .container > h3 {
  padding: 10px;
}

footer > .container > .a {
  color: white;
  text-decoration: none;
}

footer > .container > .sobre {
  text-align: justify;
  & h3 {
    background-color: #1f11a261;
    border-radius: 12px 12px 12px 12px;
    padding: 5px;
    text-align: center;
  }
  & p {
    padding-top: 9px;
    width: 400px;
  }
}

footer .container > .contato > .numero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 0px;
  & h3 {
    padding: 2px;
  }
}

footer .container > .contato > .location {
  display: flex;
  align-items: center;
  & i {
    padding: 5px;
    text-justify: unset;
  }
}

footer > .container .social {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}

.social i {
  font-size: max(1.5vw, 25px);
  color: white;
}

footer > .container > .follow p {
  font-size: 15px;
  padding: 35px;
  text-align: center;
}

.spaceFooter {
  height: 2vh;
}

html {
  overflow-x: hidden;
}

.hover_I:hover {
  scale: 1.2%;
}
